# Node Modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build files
/build/
/dist/
.DS_Store

# Environment variables
.env.local
.env.development
.env.production
.env.test
.env.*

# Logs
*.log
npm-debug.log*

# IDE files
.idea/
.vscode/
*.iml

# Testing
/coverage/

# OS files
Thumbs.db
.DS_Store